:host {
  display: inline-block;
  max-width: 130px;
  margin: 10px;
  text-align: center;
}

img {
  max-width: 100%;
}

.health {
  background-color: red;
  height: 10px;

  div {
    background-color: green;
    height: 100%;
  }
}

.property {
  display: inline-block;
  font-size: 10px;
  margin: 4px;
  color: grey;

  &.active {
    color: white;
  }
}

.images {
  position: relative;

  .pilot {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
  }
}
