<h4>{{spaceShip.modelName}}</h4>

<div class="images">
  <img [src]="spaceShip.imageUrl" [alt]="spaceShip.modelName" appSpaceImage />
  <img class="pilot" *ngIf="spaceShip.pilot" [src]="spaceShip.pilot.imageUrl" [title]="spaceShip.pilot.fullName"
       [alt]="spaceShip.pilot.fullName"/>
</div>

<div class="health" [title]="'Health ' + spaceShip.health + '%'">
  <div [style.width.%]="spaceShip.health"></div>
</div>

<div class="property" [class.active]="spaceShip.activeShields">
  {{spaceShip.activeShields | tickize}}
  SHIELDS
</div>

<div class="property" [class.active]="spaceShip.activeWeapons">
  {{spaceShip.activeWeapons | tickize}}
  WEAPONS
</div>
<div class="actions">
  <ng-content></ng-content>
</div>
