<div class="row">
  <div class="col-6">
    <h1>Hangar</h1>
    <app-space-ship *ngFor="let spaceShip of spaceShips | async" [spaceShip]="spaceShip">
      <button *ngIf="selectedPilot && !spaceShip.pilot" (click)="assignPilot(spaceShip)">Pilotuj</button>
      <button *ngIf="spaceShip.pilot" (click)="deassignPilot(spaceShip)">Opuść</button>
    </app-space-ship>
  </div>
  <div class="col-6">
    <app-pilot-room (selected)="selectedPilot = $event"></app-pilot-room>
    <div class="sub-nav">
      <a routerLink="production" routerLinkActive="active">Production</a>
      &nbsp;
      <a routerLink="destruction" routerLinkActive="active">Destruction</a>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
