<div class="content">
  <nav>
    <a routerLink="../space" routerLinkActive="active">Hangar</a>
    <a routerLink="../intel-browser" routerLinkActive="active">Intel Browser</a>
    <a routerLink="../photo-browser" routerLinkActive="active">Photo Browser</a>
    <a routerLink="../planet-detector" routerLinkActive="active">Planet detector</a>
  </nav>
  <router-outlet></router-outlet>
</div>
<a2s-comm></a2s-comm>

