<h1>Planet detector</h1>
<div #game class="game">
  <div class="planet" [style.left.px]="planetPosition.x" [style.top.px]="planetPosition.y"></div>
  <div class="noise" [style.opacity]="noiseOpacity"></div>
  <hr class="vertical" [style.left.px]="currentPosition.x"/>
  <hr class="horizontal" [style.top.px]="currentPosition.y"/>
  <div class="detected-message" *ngIf="isDetected">Wykryto planetę!</div>
  <div class="surface" (mousemove)="updatePosition({x: $event.offsetX, y: $event.offsetY})" (click)="detect()"></div>
</div>
