<h1>{{form.get('id').value ? 'Edycja pilota' : 'Dodawanie pilota'}}</h1>

<form [formGroup]="form"  (ngSubmit)="save()">
  <div class="control-group">
    <label class="control-label">Imię:</label>
    <input type="text" formControlName="firstName">
    <span *ngIf="form.get('firstName').hasError('pilotName')" class="error">Zacznij wielką literą</span>
  </div>

  <div class="control-group">
    <label class="control-label">Nazwisko:</label>
    <input type="text" formControlName="lastName">
    <span *ngIf="form.get('lastName').hasError('pilotForbidden')" class="error">Zakazane nazwisko</span>
  </div>

  <div class="control-group">
    <label class="control-label">Avatar URL:</label>
    <input  #imageUrlInput type="text" formControlName="imageUrl">
  </div>

  <div class="control-group">
    <label class="control-label">Podgląd:</label>
    <img [src]="imageUrlInput.value">
  </div>
  <button type="button" routerLink="../..">Anuluj</button>
  <button type="submit" [disabled]="form.invalid">Zapisz</button>

</form>
