/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('/assets/cosmos.jpg');
  background-size: cover;
  margin: 0;
}

nav {
  text-align: center;
  a{
    color: white;
    font-weight: bold;
    margin: 0 10px;
    &.active{
      color: darkorange;
    }
  }
}
